@media (min-width: 576px) {
    body .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body .container {
        max-width: 720px;
    }
    
}

@media (min-width: 992px) {
    body .container {
        max-width: 960px;
    }

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
}

@media (min-width: 1200px) {
    body .container {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    body .container {
        max-width: 90%;
        margin: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1700px) {
    body .container {
        max-width: 1260px;
    }
} 
