* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

body .container {
    width: 100%;
    max-width: 100%;
    padding: 0 !important;
    margin: 0 auto;
}

.container::before {
    display: table;
    content: " ";
}

.container::after {
    clear: both;
}

.row::before {
    display: table;
    content: " ";
}

.row::after {
    clear: both;
}

body a {
    text-decoration: none;
    color: #232020;
    cursor: pointer;
}

body a:hover {
    color: #FD0D00;
}

img,
svg {
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

.mn-panels {
    display: none;
}

.header .tablet-mobile {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

.header .top-bar {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fc2803;
    padding: 6px;
}

.header .top-bar .bolt-icon {
    margin-right: 10px;
}

.top-bar .top-bar-item {
    margin-right: 50px;
    text-decoration: none;
    font: inherit;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.header .logo-fix {
    width: 100%;
    display: block;
}

.header .logo-fix img {
    max-width: 100%;
    height: 48px;
    width: 83px;
}

.header .form-search {
    position: relative;
    display: flex;
    border: 1px solid #232020;
    border-radius: 30px;
    margin-top: 7px;
}

.header .form-search input[type=text] {
    border-radius: 30px;
    outline: none;
    border: none;
}

.header .form-search button[type=submit] {
    border: none;
    background: none;
    position: absolute;
    right: 10px;
}

.header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .info .info-icon {
    margin-right: 5px;
}

.header .info .log-in-out {
    display: inline-block;
}

.header .info a:last-child {
    position: relative;
}

.header .info a:last-child .count-products {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-color: #ff000191;
    text-align: center;
    top: -16px;
    left: 16px;
    color: #fff;
    padding-top: 5px;
    font-size: 12px;
}

.header .menu .level-0 a img {
    width: 20px;
}

#cssmenu {
    position: relative;
    border-top: 1px solid #ddd;
    box-shadow: 4px 3px 4px #ddd;
    z-index: 6;
}

#cssmenu ul#megamenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    height: 40px;
    position: relative;
    top: 0;
    background: #fff;
}

#cssmenu #megamenu .level-0 a {
    margin-top: 3px;
    display: inline-block;
    font-size: 16px;
}

#cssmenu #megamenu .level-0 {
    position: relative;
    display: inline-block;
    padding: 6px 25px 6px 6px;
    border-right: 1px solid #ddd;
}

#cssmenu #megamenu .level-0:last-child {
    border: none;
}



#cssmenu ul ul {
    visibility: hidden;
    position: absolute;
    z-index: 598;
    min-width: 200px;
    border-radius: 0 3px 3px 0;
    padding: 10px 20px !important;
    background: #fff;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    top: 40px;
    left: 0;
}

#cssmenu #megamenu .sub-menu-level-1 {
    padding: 6px;
}

#cssmenu .row-1 .sub-menu-level-1,
#cssmenu .row-2 .sub-menu-level-1,
#cssmenu .row-3 .sub-menu-level-1,
#cssmenu .row-4 .sub-menu-level-1 {
    font-weight: 600;
}



#cssmenu #megamenu .level-0 .sub-menu-item {
    padding: 2px;
}

#cssmenu #megamenu .row-1,
#cssmenu #megamenu .row-2,
#cssmenu #megamenu .row-3,
#cssmenu #megamenu .row-4 {
    width: 1000px;
}

#cssmenu #megamenu .row-1 .col-to-fix,
#cssmenu #megamenu .row-2 .col-to-fix,
#cssmenu #megamenu .row-3 .col-to-fix,
#cssmenu #megamenu .row-4 .col-to-fix {
    margin-bottom: 20px;
    width: 20%;
}

#cssmenu #megamenu .row-1 .col-to-fix .sub-menu-level-1,
#cssmenu #megamenu .row-2 .col-to-fix .sub-menu-level-1,
#cssmenu #megamenu .row-3 .col-to-fix .sub-menu-level-1,
#cssmenu #megamenu .row-4 .col-to-fix .sub-menu-level-1 {
    padding: 2px;
    margin-bottom: 12px;
}

#cssmenu #megamenu .level-0 .row-325 {
    right: -40px;
    left: unset;
}

#cssmenu ul li:hover>a {
    color: #FD0D00;
}

/* #cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
} */

#cssmenu ul li:hover>ul {
    visibility: visible;
}

#my-button {
    width: 12px;
    border-radius: 50%;
    height: 12px;
    margin-right: 10px;
    background-color: #fff;
    opacity: 0.6;
    display: flex;
}

.hero {
    padding: 10px 20px;
    margin-top: 158px;
}

.menu-under-slide {
    padding: 20px 60px 5px 60px;
    background-color: #f8f8f8;
}

.menu-under-slide .col-block {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.menu-under-slide .col-md-3:first-child,
.menu-under-slide .col-md-3:nth-child(3) {
    padding-right: 5px;
}

.menu-under-slide .col-block a {
    width: 100%;
    display: flex;
}

.menu-under-slide .col-block a:hover {
    color: #232020;
}

.menu-under-slide .col-block a .img_menu_box {
    width: 91px;
    text-align: center;
}

.menu-under-slide .col-block a .img_menu_box img {
    max-height: 50px;
    width: auto;
}

.menu-under-slide .col-block a .title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.flash_sale .top {
    display: flex;
}

.flash_sale .top .title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.flash_sale .top .title a {
    color: #ee4d2d;
    font-weight: 500;
}

.flash_sale .bottom {
    width: 100%;
    padding: 0 12px;
    position: relative;
}

.flash_sale .bottom .banner-flash {
    position: relative;
    width: 40%;
}

.flash_sale .bottom #flash {
    width: 60%;
    height: 550px;
    top: 40px;
    position: absolute;
    right: 0px;
    background: #fff;
    padding: 45px 50px;
    box-shadow: 2px 3px 10px #ccc;
    display: block;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-carousel .owl-item {
    width: 205.922px;
    margin-right: 20px;
    min-height: 1px;
    float: left;
}

.owl-carousel .owl-item a:hover {
    color: initial;
}

.flash_sale .bottom #flash .item {
    position: relative;
}

.flash_sale .bottom #flash .item img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
}

.owl-carousel .owl-stage {
    position: relative;
    transform: translate3d(-903px, 0px, 0px);
    transition: all 0.25s ease 0s;
    width: 3163px;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.flash_sale .bottom #flash .item .item-name {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flash_sale .bottom #flash .item .item-price {
    margin-bottom: 12px;
}

.flash_sale .bottom #flash .item .item-price .sale-price {
    color: #FD0D00;
    font-weight: 500;
    font-size: 16px;
}

.flash_sale .bottom #flash .item .item-price .price {
    color: #999999;
    margin-left: 10px;
}

.flash_sale .bottom #flash .item .off {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #E2231A;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
}

.flash_sale .bottom #flash .item .claimed {
    height: 24px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #fff;
    background: #FFEAD0;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    order: 1;
}

.flash_sale .bottom #flash .item .claimed .progress-bar {
    width: 73%;
    height: 22px;
    background: #EC2116;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flash_sale .bottom #flash .item .claimed p {
    position: absolute;
    margin-bottom: 12px;
    top: 0;
    left: 9%;
    line-height: 24px;
}

.flash_sale .bottom #flash .owl-prev {
    margin-right: 10px;
    background: url('/img/icon/prev.svg') center center no-repeat;
    width: 40px;
    height: 60px;
    top: 32%;
    left: 38px;
    position: absolute;
}

.flash_sale .bottom #flash .owl-prev i {
    display: none;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 14px;
}

.flash_sale .bottom #flash .owl-next {
    margin-right: 10px;
    background: url('/img/icon/next.svg') center center no-repeat;
    width: 40px;
    height: 60px;
    top: 32%;
    right: 38px;
    position: absolute;
}

.flash_sale .bottom #flash .owl-next i {
    display: none;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 14px;
}

.flash_sale .bottom .link-all {
    display: block;
    position: absolute;
    bottom: 20px;
    padding: 5px 10px;
    right: calc(30% + 50px);
    background: red;
    color: beige;
    z-index: 1;
}

.flash_sale .count-down-pc {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.flash_sale .count-down-pc .end-time {
    margin-left: 110px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.flash_sale .count-down-pc .count-down {
    margin-bottom: 12px;
}

.flash_sale .count-down-pc .count-down .day {
    padding: 7px 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #E47D03;
    margin: 0px 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
 
.flash_sale .count-down-pc .count-down .day2 {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.news .title-block,
.sale-off .title-block,
.best-seller .title-block,
.new-prod .title-block {
    margin-top: 36px;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
}

.sale-off .name,
.best-seller .name,
.new-prod .name {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 24px;
}

.sale-off .price,
.best-seller .price,
.new-prod .price {
    margin-bottom: 12px;
}

.sale-off .price .new-price,
.best-seller .price .new-price,
.new-prod .price .new-price {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #FD0D00;
}

.sale-off .price .old-price,
.best-seller .price .old-price,
.new-prod .price .old-price {
    color: #999999;
    font-size: 16px;
}

.sale-off img,
.best-seller img,
.new-prod img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sale-off .discount,
.best-seller .discount,
.new-prod .discount {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #E2231A;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
}

.sale-off .new,
.best-seller .new,
.new-prod .new {
    position: absolute;
    left: 10px;
    top: 55px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #FAB834;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
}

.sale-off .see-more,
.best-seller .see-more,
.new-prod .see-more {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 321px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #232020;
}

.sale-off .see-more::before,
.best-seller .see-more::before,
.new-prod .see-more::before {
    content: '';
    width: 100px;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 10px;
    left: 0px;
}

.sale-off .see-more::after,
.best-seller .see-more::after,
.new-prod .see-more::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 10px;
    right: 0px;
}

.sale-off .rate,
.best-seller .rate,
.new-prod .rate {
    margin-bottom: 5px;
}

.sale-off .rate i,
.best-seller .rate i,
.new-prod .rate i {
    font-size: 15px;
    color: #fab834;
}

.banner-mid img {
    display: block;
    width: 100%;
}

.best-seller .discount-buy-multi {
    font-size: 10px;
    border-radius: 9px;
    padding: 0px 10px;
    border: 1px solid #0066a6;
    color: #0066a6;
    float: right;
}

.news .row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.news .row-grid .showroom {
    height: 100%;
}

.news .row-grid .showroom img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.news .row-grid .content-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.news .row-grid .content-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.news .row-grid .content-right .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}

.news .row-grid .content-right i,
.news .row-grid .content-right .clock {
    color: #777777;
    margin-right: 5px;
}

#web-content {
    padding: 0 0 50px 0;
    border-bottom: 1px solid #ddd;
}

.footer {
    padding-top: 20px;
}

.footer h2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 12px;
}

.footer p {
    margin-bottom: 12px;
}

.footer .menu-footer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footer .menu-footer .level0 {
    margin-bottom: 40px;
    list-style: none;
    position: relative;
}

.footer .menu-footer .level0 > a {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.footer .menu-footer ul {
    list-style: none;
    padding-inline-start: 0;
}

.footer .menu-footer .level1 {
    margin-bottom: 10px;
}

.footer .receive-info #form-ft {
    display: flex;
}

.footer .receive-info #form-ft .box-input {
    width: 65%;
}

.footer .receive-info #form-ft .box-input input {
    width: 100%;
    padding: 9px;
    border-radius: 0;
    outline: 0px;
    border: 1px solid #232020;
}

.footer .receive-info #form-ft #submit-ft {
    width: 35%;
    height: 40px;
    min-width: 60px;
    background: #232020;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    justify-content: center;
    display: flex;
    border: 1px solid #232020;
}

.footer .receive-info .multi-media a img {
    width: 40px;
    height: 40px;
}

.scrollToTop {
    /* display: none; */
    color: #fff;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: -60px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #242424;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;
}

.dynamic {
    display: flex;
    bottom: 111px;
}